<div class="container">
  <mat-accordion>

    <mat-expansion-panel  [expanded]="true" style="margin-bottom: 15px;">
      <mat-expansion-panel-header class="panel-header">
        Escolha de perfil
      </mat-expansion-panel-header>
      <div class="panel-content">
        <div class="row-form">
          <label for="" class="form-label">Escolha um perfil para simular a inscrição</label>
          <select (change)="setAlunoDetails()" [(ngModel)]="alunoSelecionado" class="input-form">
            <option value="0" selected>Selecione um perfil</option>
            <option *ngFor="let aluno of ListAlunos" [value]="aluno.id_aluno">{{ aluno.nome }}</option>
          </select>
          <div class="table-info" [@transitionHeight] *ngIf="alunoSelecionado !=0">
            <div class="student-info">
              <span><b>Créditos disponíveis: </b>{{ alunoDetails[0].qtd_creditos }}</span>
            </div>

            <table>
              <thead>
                <tr>
                  <th>Aluno</th>
                  <th>Disciplinas Aprovadas</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detail of alunoDetails[0].disciplinas_aprovado">
                  <td>{{ alunoDetails[0].nome }}</td>
                  <td>
                    {{ getDisciplina(detail.id_disciplina) }} 
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="row-form">
              <button (click)="expandNextStep()" class="default-btn">Avançar</button>
            </div>
          </div>

        </div>
      </div> 
    </mat-expansion-panel>
    
    <mat-expansion-panel 
      #realizarinscricao
      [disabled]="alunoSelecionado ==0"
      (click)="validateAlunoSelecionado()"
      [expanded]="panelOpenState"
      style="cursor: pointer;"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false  && alunoSelecionado ==0"
    >
      <mat-expansion-panel-header class="panel-header">
          Realizar Inscrição
      </mat-expansion-panel-header>
      <div class="panel-content"  style="cursor: default;">
        <div class="row-form">
          <label for="" class="form-label">Selecione uma ou mais disciplinas</label>
            <div class="row-checkbox-opts">
              <mat-checkbox *ngFor="let disc of ListDisciplinas; let i = index" 
              [(ngModel)]="disc.selected"
              (change)="addItemToList(disc)" 
              [disabled]="disciplinasConcluidas[i]?.id_disciplina === disc.id_disciplina  ? true : false"
              color="primary">
                {{ disc.nome_disciplina }}
              </mat-checkbox>
            </div>
            <div class="student-info" style="margin: 20px 10px;">
              <span>Antes de confirmar a inscrição, verifique a quantidade de créditos disponíveis e o necessário para cada disciplina.</span>
            </div>

          <div class="table-info" [@transitionHeight] *ngIf="discipinasSelecionadas.length">
            <table>
              <thead>
                <tr>
                  <th>Disciplina</th>
                  <th>Turma</th>
                  <th>Professor</th>
                  <th>Vagas Disponíveis</th>
                  <th>Vagas totais</th>
                  <th>Créditos Necessários</th>
                  <th>Horários</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let info of tableInfoInscricao">
                  <td>{{ info.nome_disciplina }}</td>
                  <td>{{ info.nome_turma }}</td>
                  <td>{{ info.professor }}</td>
                  <td>{{ info.qtd_vagas_dispo }}</td>
                  <td>{{ info.qtd_vagas_max }}</td>
                  <td>{{ info.custo_credido }}</td>
                  <td>{{ info.horario }}</td>
                  
                </tr>
              </tbody>
            </table>

            <div class="row-credit-info">
             <b>Total créditos: </b> 
             <span [class]="getTotalCreditosPorDisc() > alunoDetails[0].qtd_creditos || getTotalCreditosPorDisc() > 20 ? 'danger-text' : ''">
              {{ getTotalCreditosPorDisc() }}
            </span>
            </div>

            <div class="row-form">
              <button (click)="validateInscricao()" class="default-btn">Finalizar</button>
            </div>
          </div>

        </div>
      </div> 
    </mat-expansion-panel>

  </mat-accordion>
</div>
